html{
	height:100%;
}

body{
	height:100%;
    background-size: 100%;
}

img{
    opacity: none;
}
.container-fluid{
	height: 100%;
}
#Hommelete {
    font-family: "Times New Roman";
    font-size: 20px;
    background: #FFCC66;
    padding: 10pt;
    border: 2px solid;
    opacity: 0.8;
   /* NOTE: Only works for non-floated block elements */
   display: block;
   float: none;
}


#HommeleteGrey {
    font-family: "Times New Roman";
    font-size: 20px;
    background: #F0F0F0 ;
    padding: 10pt;
    border: 2px solid;
    opacity: 0.8;
   /* NOTE: Only works for non-floated block elements */
   display: block;
   float: none;
}



#Textbox {
	padding: 30pt;
	width:500px;
	background: #FFFFFF;
	opacity: 0.8;
		}
		
#MyDinner {
	background: #FFFFFF;
	opacity: 0.8;
	border: 2px solid;
    padding: 40px;
	/*height:100%;*/
}


#dishname {
	border: 2px solid;
	background: #F0F0F0 ;
}

#selectdish {
	background: #FFCC66;
    opacity: 0.94;
	border: 2px solid;
	padding: 2%;	
}
#ChooseADish {
	background: #FFCC66;
	width:370px;
	float: none;
}

#imageSearchResult{

}

#selectPICTdish {
	border: 2px solid;
    opacity: 0.9;
}
#theDish {
	background: #FFFFFF;
	opacity: 0.9;
	height:100%;
	width:400px;	
    height:100%;
}
#ingredients {
	background: #FFFFFF;
	opacity: 0.9;
	height:100%;
	width:400px;	
    height:100%;
    border: 2px solid;
}

#ingredientsDiv{
    opacity: 0.9;
}

#Dish{
    background: white;
    opacity:0.9;
}

#line{
    background: #FFFFFF;
    border: 1px solid
}


#ingTable{
    border:1px solid;
    background:#FFCC66;
}

#dishOverviewPicturesDiv{
    background: white;
    opacity: 0.9;

}

#overviewPict{
    float: center;
}

#preparationList{
    background: white;
}

.dishPreparation{
    background: white;
    opacity: 0.9
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border: 1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}

